.tercer {
  font-size: 4rem; }

.redes .redes__container {
  font-family: "Roboto", sans-serif;
  font-size: 1, 5rem; }
  .redes .redes__container .redes__container--h2 {
    padding: 3rem;
    text-align: center; }
  .redes .redes__container .redes__container--bloque {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 2rem; }
    .redes .redes__container .redes__container--bloque a {
      text-decoration: none;
      color: black; }
    .redes .redes__container .redes__container--bloque img {
      width: 3rem !important;
      height: 3rem !important;
      padding-right: 1rem; }
    .redes .redes__container .redes__container--bloque li {
      list-style: none;
      margin-bottom: 1rem; }

.redes .derechos {
  text-align: right;
  font-size: 1rem;
  margin-right: 1rem; }

.der .derechos {
  margin: 0; }

footer {
  /* background-color:  rgba(155, 170, 170, 0.514); */
  background-image: linear-gradient(#edebeb, #707272); }

main {
  background-color: #edebeb; }

#carouselExampleSlidesOnly {
  overflow: hidden; }
  #carouselExampleSlidesOnly .carousel-inner .carousel-item {
    height: 30rem; }
    #carouselExampleSlidesOnly .carousel-inner .carousel-item img {
      margin: 0 auto; }

#prod .container {
  padding-top: 4rem;
  align-items: center;
  text-align: center; }

#prod .container .row .col img {
  margin: 2rem;
  width: 25rem;
  height: 25rem;
  border-radius: 1rem; }

#prod .container .row .col p {
  display: block;
  text-align: center; }

#prod .container .row .col a {
  display: inline;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif; }

.oferta__promo {
  display: block;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-decoration: underline; }
  .oferta__promo a {
    text-decoration: none;
    color: black; }

.logot {
  margin: 2rem;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  justify-content: space-between; }

.navbar-toggler {
  background-color: #201f1c; }

.site-header {
  background-image: url(../imagen/cesped.jpg);
  background-size: cover; }
  .site-header .encabezadoI {
    display: flex;
    padding-right: 2rem;
    padding-bottom: 5rem;
    justify-content: space-between; }
  .site-header .navbar {
    margin-top: 8rem;
    max-height: 5rem;
    text-align: end;
    margin-top: 35px; }
    .site-header .navbar .container-fluid {
      font-size: 3rem;
      font-family: "Roboto", sans-serif; }
      .site-header .navbar .container-fluid .navbar-nav .nav-link {
        text-shadow: 2px 4px 8px black;
        text-decoration: overline red;
        margin-left: 2rem;
        font-size: 2rem; }
    .site-header .navbar .container-fluid button {
      position: fixed;
      top: 1.5rem;
      right: 1.5rem; }
  .site-header .eslogan {
    color: white;
    padding-bottom: 2rem;
    margin: 0 0 0 15px;
    text-shadow: 2px 4px 8px black; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.nuestras {
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 8rem; }

.marcas a img {
  margin: 2rem;
  width: 30rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.5rem; }

.container .nosotros {
  padding-bottom: 5rem;
  padding-top: 10rem; }

.container .row .col p {
  font-size: medium; }

.container .row .col img {
  width: 30rem;
  height: 25rem;
  overflow: hidden; }

.container {
  padding: 5rem; }

.container .mb-3 {
  font-size: 2rem; }
  .container .mb-3 .form-check-label {
    font-size: 1.5rem; }

.ayudacontacto {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
  padding: 5rem; }

.talles {
  text-align: center; }

.table {
  margin-bottom: 0%;
  align-items: center; }
