.tercer {
  font-size: 4rem; }

.primer {
  background-color: #4ce42e; }
  .primer .primer__contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4rem; }
    .primer .primer__contenedor .primer__contenedor--h2 {
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      font-size: 5rem; }
    .primer .primer__contenedor .primer__contenedor--div {
      border: 3px solid black;
      margin: 2rem;
      width: 28rem;
      height: 17rem;
      overflow: hidden;
      border-radius: 0.5rem; }

.segundo {
  background-color: orange;
  font-size: 35px;
  font-weight: 700; }
  .segundo .segundo__contenedor {
    text-align: right;
    padding: 2rem; }
    .segundo .segundo__contenedor .segundo__contenedor--div p {
      text-decoration: underline black solid;
      color: red; }
  .segundo .segundo__contenedor--img img {
    width: 25rem !important;
    height: 25rem !important;
    padding-left: 15rem;
    margin: 2rem; }

.tercer {
  display: flex;
  justify-content: space-evenly;
  background-color: red; }
  .tercer .tercer__h2 {
    padding-top: 2rem; }
  .tercer .tercer__img {
    border: 3px solid black;
    margin: 2rem;
    width: 30rem;
    height: 15.3rem;
    overflow: hidden;
    border-radius: 0.5rem; }
  .tercer .tercer__h2--stock {
    font-size: 2rem; }
  .tercer .tercer__h2--stock--line {
    color: white;
    text-decoration: white overline 2px solid; }

/*aplico en .cuarto__img un mixin*/
.cuarto {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "roboto", sans-serif; }
  .cuarto .cuarto__discontinuados {
    color: saddlebrown; }
    .cuarto .cuarto__discontinuados .cuarto__discontinuados--link a {
      text-decoration: none;
      color: red;
      font-size: 2rem;
      text-align: end; }
  .cuarto .cuarto__img {
    width: 25rem !important;
    height: 25rem !important;
    margin: 2rem; }

.redes .redes__container {
  font-family: "Roboto", sans-serif;
  font-size: 1, 5rem; }
  .redes .redes__container .redes__container--h2 {
    padding: 3rem;
    text-align: center; }
  .redes .redes__container .redes__container--bloque {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 2rem; }
    .redes .redes__container .redes__container--bloque a {
      text-decoration: none;
      color: black; }
    .redes .redes__container .redes__container--bloque img {
      width: 3rem !important;
      height: 3rem !important;
      padding-right: 1rem; }
    .redes .redes__container .redes__container--bloque li {
      list-style: none;
      margin-bottom: 1rem; }

.redes .derechos {
  text-align: right;
  font-size: 1rem;
  margin-right: 1rem; }

footer {
  /* background-color:  rgba(155, 170, 170, 0.514); */
  background-image: linear-gradient(#edebeb, #707272); }

main {
  background-color: #edebeb; }

#prod .container {
  padding-top: 4rem;
  align-items: center;
  text-align: center; }

#prod .container .row .col img {
  margin: 2rem;
  width: 25rem;
  height: 25rem;
  border-radius: 1rem; }

#prod .container .row .col p {
  display: block;
  text-align: center; }

#prod .container .row .col a {
  display: inline;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif; }

header {
  background-color: rgba(155, 170, 170, 0.801); }

.logot {
  margin: 2rem;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  justify-content: space-between; }

.site-header {
  background-image: url(../imagen/cesped.jpg);
  background-size: cover; }
  .site-header .eslogan {
    color: white;
    font-size: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .site-header ul {
    list-style-type: none; }
  .site-header .menu {
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: right;
    padding-top: 8rem; }
    .site-header .menu li {
      display: inline; }
      .site-header .menu li a {
        text-decoration: overline rgba(255, 0, 0, 0.678) !important;
        color: white;
        margin: 2rem;
        bottom: 10rem; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.nuestras {
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 8rem; }

.marcas a img {
  margin: 2rem;
  width: 30rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.5rem; }

.container .nosotros {
  padding-bottom: 5rem;
  padding-top: 10rem; }

.container .row .col p {
  font-size: medium; }

.container .row .col img {
  width: 30rem;
  height: 25rem;
  overflow: hidden; }

.container {
  padding: 5rem; }

.container .mb-3 {
  font-size: 2rem; }
  .container .mb-3 .form-check-label {
    font-size: 1.5rem; }

#accordionFlushExample {
  align-items: center; }

.ayudacontacto {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
  padding: 5rem; }

.talles {
  text-align: center; }
