
.ayudacontacto {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
  padding: 5rem;
}
.talles {
  text-align: center;
}

