.logot {
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    justify-content: space-between;
}

.navbar-toggler {
    background-color: rgb(32, 31, 28);
}

.site-header {
    background-image: url(../imagen/cesped.jpg);
    background-size: cover;
    .encabezadoI {
        display: flex;
        padding-right: 2rem;
        padding-bottom: 5rem;
        justify-content: space-between;
    }
    .navbar {
        margin-top: 8rem;
        max-height: 5rem;
        text-align: end;
        margin-top: 35px;
        .container-fluid {
            font-size: 3rem;
            font-family: "Roboto", sans-serif;
            .navbar-nav {
                .nav-link {
                    text-shadow: 2px 4px 8px black;
                    text-decoration: overline red;
                    margin-left: 2rem;
                    font-size: 2rem;
                }
            }
        }
        .container-fluid {
            button {
                position: fixed;
                top: 1.5rem;
                right: 1.5rem;
            }
        }
    }
    .eslogan {
        color: white;
        padding-bottom: 2rem;
        margin: 0 0 0 15px;
        text-shadow: 2px 4px 8px black;
    }
}