main {
    background-color: rgb(237, 235, 235);
}

#carouselExampleSlidesOnly {
    overflow: hidden;
    .carousel-inner {
        .carousel-item {
            height: 30rem;
            img {
                margin: 0 auto;
            }
        }
    }
}

#prod .container {
    padding-top: 4rem;
    align-items: center;
    text-align: center;
}

#prod .container .row .col img {
    margin: 2rem;
    width: 25rem;
    height: 25rem;
    // border: 2px black solid;
    border-radius: 1rem;
}

#prod .container .row .col p {
    display: block;
    text-align: center;
}

#prod .container .row .col a {
    display: inline;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

.oferta__promo {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-decoration: underline;
    a {
        text-decoration: none;
        color: black;
    }
}