.nuestras {
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 8rem;
  // text-decoration: underline solid red;
}

.marcas a img {
  // border: 3px solid black;
  margin: 2rem;
  width: 30rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
