/* .site-header {
  background-image: url(./imagen/cesped.jpg);

  background-size: cover;
}

.encabezado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra ul {
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  color:white;
  margin-right: 1rem;
}
.menu{
  display:flex;
  justify-content: space-between;
  margin-top: 0;
  
} */

.menu li a {
  text-decoration: overline rgba(255, 0, 0, 0.678) ;
  margin: 2rem;
  bottom: 10rem;
}
.menu a {
  text-decoration: none;
  color: white;
}